.project
.settings
.classpath
.gradle
.idea
*.iml
*.ipr
*.iws
.DS_Store
/build
*/build
out/
*/bin/
*/conf/jobs/
.project
.settings
.classpath
.gradle
.idea
*.iml
*.ipr
*.iws
/build
*/build
out/
*/bin/
